{% extends "layout.html" %}
{% block content %}
<form method="POST" action="" enctype="multipart/form-data">
    <div class="content-section">
      <div class="media mb-2 d-flex">
            {{ form.picture(class="form-control-file", style="display: none") }}
            <label for="{{ form.picture.id }}" class="rounded-circle account-img">
                <img class="rounded-circle account-img pfp-brit" src="{{ imagepfp }}">
            </label>
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    <div>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group mb-3">
                    {{ form.username.label(class="form-control-label mb-2") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in form.username.errors %}
                                <span>{{ errors }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    {{ form.email.label(class="form-control-label mb-2") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in form.email.errors %}
                                <span>{{ errors }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mb-3 d-grid">
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>
</fieldset>
            <div class="form-group">
                {{ form.submit(class="mt-4 btn btn-primary") }}
            </div>
        </form>
    </div>

    </div>
{% endblock content %}
