{% extends "layout.html" %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="page-content">
<!-- ***** Banner Start ***** -->
<div class="main-banner2">
    <div class="row">
        <div class="col-lg-7">
            <div class="header-text">
                <h4><em>ABOUT</em> US</h4>
                <br>
                <h7>Welcome to Photogia, a premier online platform for discovering
                    and sharing captivating images from all around the world. Our 
                    mission is to provide a rich visual experience, offering a vast 
                    collection of high- quality photographs that inspire, evoke emotions,
                    and capture the beauty of life. At [Website Name], we understand the 
                    power of images to tell stories, convey ideas, and connect people.
                    Our platform is designed to be a hub for photographers, designers,
                    visual storytellers, and image enthusiasts alike. Whether you're
                    seeking inspiration for your creative projects, looking to enhance
                    your marketing materials, or simply enjoy the beauty of visual art,
                    our extensive image library has something for everyone.
                </h7>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
