{% extends "layout.html" %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-content">
              {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                      {% for category, message in messages %}
                          <div class='alert alert-{{ category }}'>
                              {{ message }}
                          </div>
                      {% endfor %}
                  {% endif %}
              {% endwith %}

            <!-- ***** Banner Start ***** -->
            <div class="main-banner">
              <div class="row">
                <div class="col-lg-7">
                  <div class="header-text">
                    <h6>Welcome To PHOTOGIA</h6>
                    <h4><em>Browse</em> Our Popular Gallary Here</h4>
                    <div class="main-button">
                      <a href="{{ url_for('main.Discovery') }}">discover now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ***** Banner End ***** -->

            <!-- ***** Most Popular Start ***** -->
            <div class="most-popular">
              <div class="row">
                <div class="col-lg-12">
                  <div class="heading-section">
                    <h4><em>Most Popular</em> Right Now</h4>
                  </div>
                  <div class="row" style="align-items: center;">

                    {% for post in posts.items %}
                    <div class="col-lg-3 col-sm-6">
                      <div class="item">
                          <a href="{{url_for('posts.post', post_id = post.id)}}" class="logo">
                          <img src="{{ url_for('static', filename="posts_media/" + post.image_file) }}" alt="">
                        </a>
                      </div>
                    </div>
                    {% endfor %}
                  <div class="col-lg-12">
                    <div class="main-button">
                      <a href="{{url_for('main.Discovery')}}">Discover Popular</a>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ***** Most Popular End ***** -->

            <!-- ***** Gaming Library Start ***** -->
            <div class="gaming-library">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Our</em> categories</h4>
                </div>
                {% for page in pages %}
                <div class="item">
                  <ul>
                    {% for category in page.items %}
                    <li><img src="{{ url_for('static', filename='category_pics/' + category.cat_image) }} " alt="" class="templatemo-item"></li>
                    <li><h4>{{ category.cat_name }}</h4>
                    <li><div class="main-border-button "><a href="more.html">Discover more</a></div></li>
                    {% endfor %}
                  </ul>
                </div>
                {% endfor %}
             <div class="col-lg-12">
                <div class="main-button">
                  <a href="{{url_for('main.Discovery')}}">View more</a>
                </div>
              </div>
            </div>
            <!-- ***** Gaming Library End ***** -->
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
